echo "[Unit]
Description=RenVM Darknode Updater Daemon
AssertPathExists=$HOME/.darknode-updater

[Service]
WorkingDirectory=$HOME/.darknode
ExecStart=$HOME/.darknode/bin/darknode-updater
Restart=on-failure
PrivateTmp=true\nNoNewPrivileges=true

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target" > ~/.config/systemd/user/darknode-updater.service